<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TODO LIBROS</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <div class="title-background p-2">
            <h1 class="text-center title-td"> TODO LIBROS </h1>
        </div>
        

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Elementos a la izquierda -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio
                            <span class="sr-only">(current)</span></a>
                    </li>
                    {{#if userInfo}}
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Productos</a>
                        </li>
                    {{/if}}
                    {{#if admin}}
                        <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            ADMINISTRADOR
                        </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a
                                    class="dropdown-item"
                                    href="/products/realTimeProducts"
                                >Panel de Productos</a>
                                <a
                                    class="dropdown-item"
                                    href="/api/users"
                                >Panel de Usuarios</a>
                            </div>
                        </li>
                    {{/if}}

                    {{#if premium}}
                        <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            PREMIUM
                        </a>
                            <div
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a
                                    class="dropdown-item"
                                    href="/products/realTimeProducts"
                                >Panel de Productos</a>
                            </div>
                        </li>
                    {{/if}}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- Elementos a la derecha -->
                    {{#if userInfo}}
                        <li class="nav-item">
                            <a class="nav-link" href="/api/sessions/profile">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/sessions/logout">Cerrar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                id="cart"
                                href="/products/carts/{{userInfo.cartId}}"
                            >🛒</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/api/sessions/register">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/sessions/login">Iniciar sesión</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>

        {{!-- NAVBAR con la info del usuario --}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{#if userInfo}}
        <div class="container-fluid d-flex justify-content-center align-items-center">
            <h4 class="text-center">Bienvenido, {{userInfo.fullName}} - Rol: {{userInfo.role}}</h4>
        </div>
        {{/if}}
        </nav>


        {{{body}}}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </body>
</html>